<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762041256503-uc9qopr13761ictkgj53ba4gomtkvbha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762041256503-uc9qopr13761ictkgj53ba4gomtkvbha</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>762041256503-q0j72fup2iphc75m5qat17rpdcskcqof.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCw-PTFXPUJPH9p-gOqm2zHjW-3vA2-WBY</string>
	<key>GCM_SENDER_ID</key>
	<string>762041256503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aroosi.mobile</string>
	<key>PROJECT_ID</key>
	<string>aroosi-project</string>
	<key>STORAGE_BUCKET</key>
	<string>aroosi-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:762041256503:ios:a089f0b6e6501531ac8db2</string>
</dict>
</plist>
